@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #e5e5e5;
  font-family: Poppins, sans-serif;
  font-style: normal;
}

.header-bg {
  position: absolute;
  width: 97.5972222222%;
  left: 2.4027777778%;
  top: calc(20% - 268px / 2);
}

.header-background-shape {
  position: absolute;
  width: 100%;
  left: 0;
  top: 1px;
}

.header-background-mobile,
.header-bg-mobile {
  display: none;
}

.toolbar {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 72px;
  left: 0;
  top: 0;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 100px;
  height: 40px;
  left: 9.9305555556%;
  top: 10px;
  padding: 10px 12px;
  text-decoration: none;
}

.logo-wrapper p {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
  height: 20px;
  width: 76px;
  font-size: 18px;
  line-height: 20px;
}

.menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  position: absolute;
  width: 259px;
  height: 40px;
  padding: 0;
  left: 72.1527777778%;
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  height: 40px;
  top: 0;
  padding: 10px 12px;
}

.menu-item p {
  position: static;
  height: 20px;
  left: 12px;
  top: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #344563;
}

.menu-item.portfolio {
  width: 63px;
}

.menu-item.about {
  width: 46px;
}

.menu-item.contact {
  width: 62px;
}

.banner-text p {
  position: static;
  width: 100%;
  height: 98px;
  left: 0;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.menu-item.portfolio p,
.menu-item.about p,
.menu-item.contact p {
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 10px;
}

.banner-text h1 {
  position: static;
  width: 100%;
  height: 122px;
  left: 0;
  font-weight: bold;
  color: #091e42;
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
  letter-spacing: 0.37px;
}

.social-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 8px 0;
  position: static;
  height: 24px;
  left: 0;
  top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.menu-btn {
  display: none;
}

.menu-icon {
  position: static;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
  height: 16px;
  width: 17px;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 114px 24px;
  position: absolute;
  width: 96%;
  height: 520px;
  left: 0;
  top: 71px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  position: absolute;
  height: 268px;
  padding: 0;
  margin: 0 9%;
  top: calc(40% - 268px / 2);
}

.social-media-icons {
  display: flex;
  justify-content: space-between;
  position: static;
  list-style: none;
  flex: none;
  order: 3;
  flex-grow: 0;
  width: 171px;
  height: 20px;
  margin: 8px 0;
  padding-left: 0;
}

.social-icon {
  color: #505f79;
}

@media only screen and (max-width: 1200px) {
  /* Tablets [601px -> 1200px] */
}

@media only screen and (max-width: 600px) {
  /* Big smartphones [426px -> 600px] */
  .header-bg {
    display: none;
  }

  .header-background-shape {
    display: none;
  }

  .header-background-mobile {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }

  .header-bg-mobile {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }

  .logo-wrapper {
    left: 12px;
  }

  .menu-items {
    display: none;
  }

  .menu-btn.active {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    height: 40px;
    width: 40px;
    right: 12px;
    top: calc(50% - 40px / 2);
    border: none;
    background-color: transparent;
    border-radius: 8px;
    padding: 8px;
  }

  .banner {
    width: 90%;
  }

  .banner-text {
    height: 604px;
    width: 85%;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0;
    margin: 0 1%;
    top: calc(20% - 134px / 2);
    left: 24px;
  }

  .banner-text h1 {
    height: auto;
    left: 24px;
    top: 114px;
    font-size: 40px;
    line-height: 52px;
  }

  .banner-text p {
    width: 100%;
    height: auto;
    left: 24px;
    top: 276px;
    font-size: 16px;
    line-height: 24px;
  }

  .social-title {
    font-size: 16px;
    line-height: 24px;
  }

  .social-media-icons,
  .social-title,
  .banner h1,
  .banner p {
    margin: 8px 0;
  }
}

@media only screen and (max-width: 425px) {
  /* Small smartphones [325px -> 425px] */
}
