@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #e5e5e5;
  font-family: Poppins, sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 6rem;
  height: 72px;
  left: 0;
  top: 0;
  background: #fff;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  padding: 0 24px;
  position: relative;
  height: 83vh;
  background-image: url(./images/Header-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  padding: 0;
  margin: 0 7rem;
}

.content-body {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  background-image: url(./images/header-background-shape-desktop.svg);
  background-position: top right;
  background-repeat: no-repeat;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
  height: 40px;
  padding: 10px 12px;
  text-decoration: none;
}

.logo-wrapper p {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: #6070ff;
  height: 20px;
  width: 76px;
  font-size: 18px;
  line-height: 20px;
}

.menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 259px;
  height: 40px;
  padding: 0;
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  height: 40px;
  padding: 10px 12px;
}

.menu-item p {
  position: static;
  height: 20px;
  left: 12px;
  top: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #344563;
}

.menu-item.portfolio {
  width: 63px;
}

.menu-item.about {
  width: 46px;
}

.menu-item.contact {
  width: 62px;
}

.banner-text p {
  position: static;
  width: 100%;
  height: 98px;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  margin: 12px 0;
}

.menu-item.portfolio p,
.menu-item.about p,
.menu-item.contact p {
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 10px;
}

.banner-text h1 {
  position: static;
  width: 100%;
  height: 122px;
  font-weight: bold;
  color: #091e42;
  font-size: 48px;
  line-height: 60px;
  margin: 12px 0;
  letter-spacing: 0.37px;
}

.social-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 8px 0;
  position: static;
  height: 24px;
  left: 0;
  top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.menu-btn {
  display: none;
}

.menu-icon {
  position: static;
  margin: 0 0;
  height: 16px;
  width: 17px;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
}

.social-media-icons {
  display: flex;
  justify-content: space-between;
  position: static;
  list-style: none;
  order: 3;
  width: 171px;
  height: 20px;
  margin: 8px 0;
  padding-left: 0;
}

.social-icon {
  color: #505f79;
}

/* Works Section */
.works {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  align-self: stretch;
  padding: 114px 24px;
  background: #fff;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 327px;
  height: 552px;
  padding: 16px;
  list-style: none;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.Project-img {
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

.project-content-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 295px;
  height: 288px;
  padding: 0;
}

.project-header {
  width: 100%;
  height: 80px;
  padding: 0;
}

.project-title {
  width: 100%;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.project-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 236px;
  height: 32px;
  padding: 0;
  margin: 0;
  color: #7a869a;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.project-info-title {
  color: #344563;
}

.project-info img {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
}

.project-description {
  width: 100%;
  height: 76px;
  margin: 12px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  width: 203px;
  height: 24px;
  list-style: none;
}

.tag-item {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 4px 12px;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
}

.action-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 72px;
  margin-top: 12px;
  padding: 0;
}

.action-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 48px;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #6070ff;
  color: #396df2;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

@media only screen and (max-width: 600px) {
  /* Big smartphones [426px -> 600px] */
  .content-body {
    background: none;
  }

  .toolbar {
    padding: 0 1rem;
  }

  .menu-items {
    display: none;
  }

  .menu-btn.active {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
    border-radius: 8px;
    padding: 8px;
  }

  .banner {
    height: 95vh;
    background: #fff;
    background-image: url(./images/header-shapes-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .banner-text {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0;
    margin: 0 1rem;
  }

  .banner-text h1 {
    height: auto;
    font-size: 40px;
    line-height: 52px;
  }

  .banner-text p {
    height: auto;
    font-size: 16px;
    line-height: 24px;
  }

  .social-title {
    font-size: 16px;
    line-height: 24px;
  }

  .social-media-icons,
  .social-title,
  .banner h1,
  .banner p {
    margin: 8px 0;
  }

  .works {
    grid-template-columns: auto;
  }
}
